@model Werewolf.Models.ViewModel.PlayViewModel;
@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <partial name="_CharacterCardPartial" model="@Model.Character" />
    </div>
    <div class="col-md-9">
        <div class="row">

            @foreach (var oppenent in Model.Opponents)
            {
                OpponentCardViewModel OpponentCardVm = new OpponentCardViewModel()
                {
                    Opponent = oppenent,
                    CharacterRole = Model.Character.Role,
                    Note = Model.Notes.FirstOrDefault(c => c.OpponentId == oppenent.ApplicationUserId)
                };

                //var note = Model.Notes.FirstOrDefault(c => c.OpponentId == oppenent.ApplicationUserId);

                //OpponentCardVm.Note = note == null ? "" : note.Message;

                <div class="col-md-6 col-lg-4">
                    <partial name="_OpponentsCardPartial" model="@OpponentCardVm" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {

    <script>

        //Setup Event Listener on textarea
        $('.note-text').on('change', getValueFromTheNote);

        //Stop Editing textarea on Enter -- this will trigger the Save
        $('.note-text').on('keypress', function (e) {
            if (e.keyCode === 13 || e.which === 13) {
                $($(e.target)).blur();
            };
        });

        //Get values on change to textarea
        function getValueFromTheNote(e) {
            let id, gameId, opponentId, message;
            id = e.target.id;
            opponentId = $(e.target).data('opponentid');
            gameId = $(e.target).data('gameid');
            message = $(e.target).val();

            if (id === "") {
                //Add New Note
                AddNote(e.target, gameId, opponentId, message);
            } else {
                //Update Note
                UpdateNote(id, message);
            }
        };

        function AddNote(el, gameId, opponentId, message) {
            var data = { gameId: gameId, opponentId: opponentId, message: message };

            $.ajax({
                url: '@Url.Action("AddNote", "Play")',
                type: "post",
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                success: function (result) {
                    //Add new Id to the element
                    el.id = result.id;
                    if (result.success) {
                        toastr.success(result.message);
                    } else {
                        toastr.error(result.message);
                    }
                }
            });
        };

        function UpdateNote(id, message) {
            var data = { id: id, message: message };

            $.ajax({
                url: '@Url.Action("UpdateNote", "Play")',
                type: "post",
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                success: function (data) {
                    console.log(data.message);
                    if (data.success) {
                        toastr.success(data.message);
                    } else {
                        toastr.error(data.message);
                    }
                }
            });
        };
    </script>

}