@model Werewolf.Models.ViewModel.FindGameViewModel

@{
    ViewData["Title"] = "FindGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-md-8  mb-3">

        <h4 class="text-primary">Games List</h4>
    </div>
    <div class="col-md-4 mb-3">

        <button type="button" class="btn btn-outline-primary form-control" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-plus"></i> &ensp; New Game
        </button>
    </div>
</div>
@{
    if (Model.Game.Count() > 0)
    {
        <table class="table table-striped table-bordered" id="gameListTable">
            <tr class="table-secondary">
                <th>
                    Name
                </th>
                <th>
                    Players
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model.Game)
            {
                <tr id="gameId-@item.Id">
                    @{await Html.RenderPartialAsync("_FindGameTableRowPartial", new Werewolf.Models.ViewModel.FindGameTableRowViewModel()
                        {
                            Game = item,
                            AlreadyRegisteredGames = Model.AlreadyRegisteredGames,
                            TotalRegisteredPlayersForGame = Model.TotalRegisteredPlayersForGame
                        });
                    }
                </tr>

            }
        </table>

    }
    else
    {
        <p>No games</p>
    }
}

<!-- MODAL -->

@{ await Html.RenderPartialAsync("_NewGameModalPartialView", new Werewolf.Models.Game()); }

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $("#addGameForm").click(function () {
                $("#addGameBtn").submit(); // Submit the form
            });
        });

        async function joinGame(id) {

            //Get New Partial View
            var partialView = await getItemPartial(id);

            //Remove Children Inside the Row
            $('#gameId-' + id).children().remove();

            //Add the new Partial View
            $('#gameId-' + id).append(partialView);

            console.log(partialView);
        };

        function getItemPartial(id) {

            var prova = $.ajax({
                type: 'POST',
                url: `/Game/Home/JoinGame?gameId=${id}`
            });
            return prova;
        }
    </script>
}