@model Werewolf.Models.ViewModel.FindGameViewModel

@{
    ViewData["Title"] = "FindGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-md-8">

        <h4 class="text-primary">Games List</h4>
        <br />
    </div>
    <div class="col-md-4">

        <button type="button" class="btn btn-outline-primary form-control" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-plus"></i> &ensp; New Game
        </button>
    </div>
</div>
@{
    if (Model.Game.Count() > 0)
    {
        <table class="table table-striped table-bordered">
            <tr class="table-secondary">
                <th>
                    Name
                </th>
                <th>
                    Players
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model.Game)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@Model.TotalRegisteredPlayersForGame[item.Id] / @item.PlayerCount</td>
                    <td>

                        @if (Model.AlreadyRegisteredGames != null && Model.AlreadyRegisteredGames.Contains(item.Id))
                        {
                            <p>Registered</p>
                        }
                    </td>
                </tr>
            }
        </table>

    }
    else
    {
        <p>No games</p>
    }
}

<!-- MODAL -->

@{ await Html.RenderPartialAsync("_NewGameModalPartialView", new Werewolf.Models.Game()); }

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $("#addGameForm").click(function () {
                $("#addGameBtn").submit(); // Submit the form
            });
        });
    </script>
}