@model Werewolf.Models.ViewModel.FindGameViewModel

@{
    ViewData["Title"] = "FindGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-md-8  mb-3">

        <h4 class="text-primary">Games List</h4>
    </div>
    <div class="col-md-4 mb-3">

        <button type="button" class="btn btn-outline-primary form-control" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-plus"></i> &ensp; New Game
        </button>
    </div>
</div>
@{
    if (Model.Game.Count() > 0)
    {
        <table class="table table-striped table-bordered" id="gameListTable">
            <tr class="table-secondary">
                <th>
                    Name
                </th>
                <th>
                    Players
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model.Game)
            {
                <tr id="gameId-@item.Id">
                    @{await Html.RenderPartialAsync("_FindGameTableRowPartial", new Werewolf.Models.ViewModel.FindGameTableRowViewModel()
                        {
                            Game = item,
                            AlreadyRegisteredGames = Model.AlreadyRegisteredGames,
                            TotalRegisteredPlayersForGame = Model.TotalRegisteredPlayersForGame
                        });
                    }
                </tr>

            }
        </table>

    }
    else
    {
        <p>No games</p>
    }
}

<!-- MODAL -->

@{ await Html.RenderPartialAsync("_NewGameModalPartialView", new Werewolf.Models.Game()); }

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $("#addGameForm").click(function () {
                $("#addGameBtn").submit(); // Submit the form
            });
        });

        async function joinGame(id) {

            //Get New Partial View
            var partialView = await joinGameItemPartial(id);

            //Remove Children Inside the Row
            $('#gameId-' + id).children().remove();

            //Add the new Partial View
            $('#gameId-' + id).append(partialView);

        };

        function startGame(id) {
            console.log(id);

            //Remove Children Inside the Row
            $('#gameId-' + id).remove();

            //Start Game and redirect to Index
            $.ajax({
                type: 'POST',
                url: `/Game/Home/StartGame?gameId=${id}`,
                dataType: "json",
                success: function (data) {
                    window.location.href = data.redirecturl; 
                    }
            });

        };

        async function quitGame(id) {
            //Get New Partial View
            var partialView = await quitGameItemPartial(id);

            //Remove Children Inside the Row
            $('#gameId-' + id).children().remove();

            //Add the new Partial View
            $('#gameId-' + id).append(partialView);

        };

        function joinGameItemPartial(id) {

            var prova = $.ajax({
                type: 'POST',
                url: `/Game/Home/JoinGame?gameId=${id}`
            });
            return prova;
        }

        function quitGameItemPartial(id) {

            var prova = $.ajax({
                type: 'POST',
                url: `/Game/Home/QuitGame?gameId=${id}`
            });
            return prova;
        }
    </script>
}